@using Sirket_Otomasyon_MVC_ASP.NET.Models
@model IEnumerable<Musteri>
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<table class="table tab-content">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)//return view(musteriler)den gelen modelin elemanlarını iteme atıp donuyor
        {
            <tr>
                <td>@item.musteriId</td>
                <td>@item.musteriAd</td>
                <td>@item.musteriSoyad</td>
                <td><a href="/Musteri/Duzenle/@item.musteriId" class="btn btn-sm btn-primary">Edit</a> <a href="/Musteri/Sil/@item.musteriId"class="btn btn-sm btn-danger" onclick="return confirm('Bu müşteriyi silmek istedğinizden emin misini?')">Delete</a></td>
                <!--   actiondan parametre istemiştik burada gönderiyorız-->
            </tr>
        }
    </tbody>
</table>

