
@{
    ViewBag.Title = "Yorum";
}

<h2>Yorum</h2>

<textarea  id="yorum"></textarea>
<script src="~/ckeditor/plugins/forms/dialogs/textarea.js"></script>

<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'yorum' );
</script>